nav {
    background: #515151;
    background-image:linear-gradient(to right, #ffffff, #515151);
    box-shadow: 0 0 12px -2px black;
    margin-bottom: 2em;
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:10px 24px 10px;
    position:fixed;
    left:0;
    right:0;
    top:0;
    height:10em;
}

* {
    box-sizing: border-box;
}

h2 {
    display: block;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.logo {
    font-family: 'Nosifer';
    font-size:3em;
}

.links {
    font-family: 'Sour Gummy';
    font-size:2em;
}

.me2 {
    height:300px;
    width: auto;
    border:3px solid white;
}

hr {
    border: 0;
    height: 3px;
    background: #515151;
    background-image: linear-gradient(to right, #7ad5f4, #515151, #7ad5f4);
}

.vertical{
    border: 0;
    height: 3px;
    background: #515151;
    background-image: linear-gradient(to right, #7ad5f4, #515151, #7ad5f4);
}

.axe {
    text-wrap:wrap;
}

main > .quote{
    min-height:10vh;
    padding: 85px 24px 10px;
    font-family: 'Satisfy', cursive;
    color: aliceblue;
    font-size: 50px;
    font-weight: 100;
    text-shadow: 1px 1px 2px black;
    text-align: center;
    margin-top: 5em;
}

main > img{
    /* height: 500px; */
    width: 300px;
    float: right;
    margin: 10px 0 10px 10px;
    border:3px solid white;
}

main {
    min-height: 100vh;
    padding:5px 24px 10px;
    box-shadow: 0 0 12px -2px black;
    color: aliceblue;
    font-family: 'Sour Gummy';
    font-size: 25px;
    padding-right:2em;
    margin-top:200px;
}

.wolfie{
    border-right: 3px solid transparent;
    border-image: linear-gradient(#7ad5f4, #515151, #7ad5f4) 1;
}

.jaskier{
    border-left: 3px solid transparent;
    border-image: linear-gradient(#7ad5f4, #515151, #7ad5f4) 1;
    padding-left:4px;
}

.image{
    height:auto;
    width:700px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 3px solid black;
}

.footer{
    background: #515151;
    background-image:linear-gradient(to right, #515151, #ffffff);
    box-shadow: 0 0 12px -2px black;
    margin-top: 2em;
    justify-content:space-between;
    align-items:center;
    padding:10px;
    text-align:center;
    font-family: 'Sour Gummy';
    font-size:1em;
}

.puppers{
    border:3px solid rgb(6, 161, 251);
}

.saysay{
    border:3px solid rgb(251, 6, 6);
}

.jaskybean{
    border:3px solid rgb(149, 1, 255);
}

.bullseye{
    border:3px solid white;
}

a {
    border:3px solid pink;
    border-radius: 13px;
    background:white;
    color:pink;
    padding: 5px;
}

.button:hover {
    background:pink;
    color:white;
}

form {
    display: grid;
    grid-template-rows: auto;
    align-items:center;
    justify-content: center;
    box-sizing:border-box;
    width: 102%;
    box-shadow: 0 0 12px -2px black;
    border: solid black 7px;
    border-radius: 20px;
    background: white;
    padding: 5px;
    margin-bottom: 60px;
    color: black;
}

.submit {
    margin-bottom: 29.25px;
    border:3px solid pink;
    border-radius: 7px;
    background:white;
    color:pink;
    padding: 5px;
}

.submit:hover {
    background: pink;
    color: white;
}

textarea {
    border: black 2px solid;
    border-radius: 10px;
}

input {
    border: black 2px solid;
    border-radius: 4px;
}