nav {
    background: #515151;
    background-image:linear-gradient(to right, #7ad5f4, #515151);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26);
    margin-bottom: 2em;
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:10px;
}

.logo {
    font-family: 'Gill Sans';
    font-size:3em;
}

.links {
    font-family: 'Gill Sans';
    font-size:2em;
}

.me {
    height:300px;
    width: auto;
}

.me2 {
    height:300px;
    width: auto;
}

hr {
    border: 0;
    height: 3px;
    background: #515151;
    background-image: linear-gradient(to right, #7ad5f4, #515151, #7ad5f4);
}

.axe {
    text-wrap:wrap;
}